body{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'header header header aside'
                         'section section section aside'
                         'footer footer footer footer';

    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 8vh 25vh 60vw 10vw;                    
    margin: 0;
}

nav{
    grid-area: nav;
}

header{
    grid-area: header;
}

section{
    grid-area: section;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}