body{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'header header header aside'
                         'section section section aside'
                         'footer footer footer footer';

    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 8vh 25vh 60vw 10vw;                    
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    cursor: url("../images/kunai.png"), default;

}

nav{
    grid-area: nav;
    background-color: #373b31;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav > img {
    width: 45px;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
}
nav a:hover{
    color: #bb2127;
    cursor: url("../images/kunai.png"), default;
}

header{
    grid-area: header;
}

section{
    grid-area: section;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}