body::-webkit-scrollbar{
    width: 0px; /*remover o scrollbar space*/
    background: transparent; /*para deixaer ela invisivel*/
}

body{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'header header header aside'
                         'section section section aside'
                         'footer footer footer footer';

    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 8vh 65vh 60vw 10vw;                    
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    cursor: url("../images/kunai.png"), default;

}



header{
    background-image: url("../images/header.jpg");
    background-size: cover;
    grid-area: header;
}
nav{
    grid-area: nav;
    background-color: #373b31;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav > img {
    width: 45px;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
}
nav a:hover{
    color: #bb2127;
    cursor: url("../images/kunai.png"), default;
}

header{
    grid-area: header;
}

section{
    grid-area: section;
}

aside{
    grid-area: aside;
    background-color: #282a25f0;
}

aside p{
    font-family: 'Courier New', Courier, monospace;
}
aside h2{
    text-align: center;

}

aside h2, aside p{
    color: white;
    padding: 0 15px;
}

aside ul li{
    color: white;
}
aside ul{
    list-style-image: url("../images/icon.png");
}

footer{
    grid-area: footer;
}